@import '../../styles/var.scss';

.pageHead {
    background: $light;
    padding: 1.5rem;
}
.page {
    // overflow-x: hidden;
    width: calc(100% - 280px);
    padding: 79px 0 0;
    min-height: 100vh;
    transition: all 0.3s ease-out 0s;
    float: right;
    position: relative;
}
.container {
    padding: 0 1.5rem;
}


@media only screen and (max-width: 767px) {
    .page {
        width: 100%;
    }
}

