@import "../../../styles/var.scss";

.loader {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 280px);
    height: 100%;
    background-color: rgba($main, 0.2);
    border-radius: 8px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s;
    animation: opacity 0.3s ease;
    animation-fill-mode: forwards;
}
@keyframes opacity {
    from {
        opacity: 0;
    }
    from {
        opacity: 1 !important;
    }
}
.sub {
    font-weight: 400;
}
